.m-box {
  display: flex;
  flex-wrap: wrap;
  .u-btn {
    margin: 10px;
    width: 200px;
    height: 200px;
    font-size: 16px;
    color: #4a4a4a;
    line-height: 200px;
    text-align: center;
    border: 1px solid #0d6aad;
    border-radius: 10px;
  }
}
