<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;"/>
  <meta name="referrer" content="never">
  <title><%= blog.title %></title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/public/logo/icon-01.png" media="screen"/>
  <link rel="stylesheet" href="/css/public/public.css"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <a href="/index" class="logo">
      <span class="logo-mini">基础数据平台</span>
      <span class="logo-lg"><b>基础数据平台</b></span>
    </a>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <%- include('nav.html') %>
    </section>
  </aside>

  <script src="/js/plug-in/jquery/jquery-2.2.3.min.js"></script>
  <script src="/js/plug-in/jqueryConfirm/js/jquery-confirm.min.js"></script>
