<%- include('header.html') %>
<link rel="stylesheet" href="/css/index/index.css"/>

<div class="content-wrapper">
  <section class="content-header">
    <h1>这是首页</h1>
    <ol class="breadcrumb">
      <% data.forEach(function (item) { %>
      <li>
        <p><%= item.href%></p>
        <p><%= item.cover%></p>
        <p><%= item.page%>页</p>
        <p><%= item.createTime%></p>
        <p>作者：<%= item.author%></p>
        <p><%= item.bookName%></p>
        <p>是否修正<%= item.isNotFix%></p>
      </li>
      <% }); %>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
  </section>
</div>

<script src="/js/index/index.js"></script>
<%- include('footer.html') %>
