<%- include('header.html') %>
<link rel="stylesheet" href="/css/index/list.css"/>

<div class="g-home-box">
  <h1>这是列表</h1>
  <i class="m-add-tag">添加标签</i>
  <section class="m-box">
    <ul class="u-list j-list">
    </ul>
  </section>
  <div class="m-page j-page" data-current-page="1">
    <a class="u-btn j-previous">上一页</a>
    <p class="u-tips j-tips">第1页</p>
    <a class="u-btn j-next">下一页</a>
    <span class="u-total j-total"></span>
  </div>
</div>

<div class="m-alert">
  <div class="u-mn">
    <ul class="u-tag-list j-tag-list">
      <li class="u-tag-li j-tag-li">测试</li>
      <li class="u-tag-li j-tag-li">测试</li>
    </ul>
    <div class="u-btn-gp">
      <button class="u-btn" type="button">确定</button>
      <button class="u-btn" type="button">取消</button>
    </div>
  </div>
</div>

<script src="/js/index/list.js"></script>
<%- include('footer.html') %>
