<ul class="sidebar-menu" id="sidebar-menu">
    <li class="header">主导航</li>
    <li class="">
        <a href="/">
            <i class="fa fa-home"></i>
            <span>首页</span>
        </a>
    </li>
    <li class="">
        <a href="/article">
            <i class="fa fa-file-text-o"></i>
            <span>文档管理</span>
        </a>
    </li>
    <li class="">
        <a href="/label">
            <i class="fa fa-leaf"></i>
            <span>标签管理</span>
        </a>
    </li>
    <li class="">
        <a href="../user/user.html">
            <i class="iconfont icon-yhgl"></i>
            <span>用户管理</span>
        </a>
    </li>
    <li class="">
        <a href="../role/role.html">
            <i class="iconfont icon-jsgl"></i>
            <span>角色管理</span>
        </a>
    </li>
    <li class="">
        <a href="#">
            <i class="iconfont icon-qxgl"></i>
            <span>权限管理</span>
        </a>
        <ul class="treeview-menu">
            <li class="">
                <a href="../jurisdiction/jurisdiction-org.html"><i class="fa fa-circle-o"></i>组织权限</a>
            </li>
            <li class="">
                <a href="../jurisdiction/jurisdiction-role.html"><i class="fa fa-circle-o"></i>角色权限</a>
            </li>
            <li class="">
                <a href="../jurisdiction/jurisdiction-user.html"><i class="fa fa-circle-o"></i>用户权限</a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#">
            <i class="iconfont icon-xtsz"></i>
            <span>系统配置</span>
        </a>
        <ul class="treeview-menu">
            <li class="">
                <a href="../configuration/logo.html"><i class="fa fa-circle-o"></i>logo设置</a>
            </li>
            <li class="">
                <a href="../configuration/log.html"><i class="fa fa-circle-o"></i>日志设置</a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#">
            <i class="iconfont icon-xtrz"></i>
            <span>系统日志</span>
        </a>
        <ul class="treeview-menu">
            <li class="">
                <a href="../journal/login-journal.html"><i class="fa fa-circle-o"></i>登录日志</a>
            </li>
            <li class="">
                <a href="../journal/operation-journal.html"><i class="fa fa-circle-o"></i>操作日志</a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="../backups/backups.html">
            <i class="iconfont icon-xtbf"></i>
            <span>系统备份</span>
        </a>
    </li>
    <li class="">
        <a href="../on-line/on-line.html">
            <i class="iconfont icon-zxqk"></i>
            <span>在线情况</span>
        </a>
    </li>
    <li class="">
        <a href="../visit/visit.html">
            <i class="iconfont icon-fwkz"></i>
            <span>访问控制</span>
        </a>
    </li>
</ul>