<%- include('header.html') %>
<link rel="stylesheet" href="/css/index/shut-down.css"/>

<div class="g-home-box">
  <h1>这是关注</h1>
  <section class="m-box">
    <ul class="u-list">
      <% rows.forEach(function (item) { %>
      <li class="u-li">
        <p class="u-name"><%= item.name %></p>
        <span class="u-tips"><%= item.remark %></span>
        <span class="u-rating">评级：<%= item.rating %>星</span>
      </li>
      <% }); %>
    </ul>
  </section>
</div>

<!--<script src="/js/index/list.js"></script>-->
<%- include('footer.html') %>
